<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]>      <html class="no-js"> <!--<![endif]-->
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="">
    </head>
    <body>
        <!--create template in django app to view or read the data-->
        <center>
        <table class="table table-striped table-bordered table-sm">
            <thead class="thead-dark">
                <tr>
                   <th>User ID</th>
                   <th> User Name</th> 
                   <th> User Email</th> 
                   <th> User Contact</th> 
                   <th> Action</th>  
                </tr>
               </thead>
       {% for us in userdata  %}
           <tr>
               <td>{{us.uid}}</td>
               <td>{{us.uname}}</td>
               <td>{{us.uemail}}</td>
               <td>{{us.ucontact}}</td>
               <td>
                <a href="/deleteprofile/{{ us.uid}}"> Delete </a>
                <!--create reference in viewuser for deleteing data-->
                <a href="/editprofile/{{us.uid}}"> Edit</a>
                 
               </td>
           </tr>
       {% endfor %}
        </table>
        </center>
    </body>
</html>